@import url("https://use.typekit.net/chl7jio.css");

@import "_variables";
@import "components/_badge";
@import "components/_button";
@import "components/_card";
@import "components/_cart";
@import "components/_drawer";
@import "components/_flight";
@import "components/_form";
@import "components/_icon";
@import "components/_list";
@import "components/_menu";
@import "components/_slider";
@import "components/_table";
@import "components/_typography";

// Reset des éléments HTML
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $color-background;
  @extend %font-family-poppins;
  font-size: 1rem;
  letter-spacing: 0.25px;
  color: $color-greyscale-body;

  &.body-background {
    background: url('../images/jet_sky.png');
    background-size: 100% 250px;
    background-repeat: no-repeat;
    z-index: 0;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 250px;
    }

    &::before {
      background: rgba(44, 36, 140, 0.1);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }

    &::after {
      background: linear-gradient(180deg, rgba(43, 34, 136, 0.3) 0%, rgba(43, 34, 136, 0.15) 100%), linear-gradient(180deg, rgba(197, 6, 138, 0.02) 39.22%, rgba(30, 9, 159, 0.1) 100%), linear-gradient(0deg, rgba(108, 32, 232, 0.15), rgba(108, 32, 232, 0.15)), rgba(35, 39, 132, 0.2);
    }

    &--small {
      background-size: 100% 160px;

      &::before, &::after {
        height: 160px;
      }
    }
  }
}

section {
  position: relative;
  @extend %flex-column;
  gap: $gap;
  padding-bottom: 100px;
  z-index: 1;

  & > * {
    margin: 0 20px;
  }

  & > .title {
    color: $color-greyscale-body;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0.75px;

    &--horizontal {
      @extend %flex-row;
    }
  }
}

h3 {
  font-weight: 600;
}

.separator {
  width: 100%;
  height: 0;
  border-bottom: 1px solid $color-greyscale-line;
}

.header {
  @extend %flex-row;
  margin-top: 20px;
  z-index: 1;

  &__right {
    margin-left: auto;
    @extend %flex-row;
    align-items: center;

    &__item {
      position: relative;
      @extend %flex-row;
      align-items: center;
    }
  }
}

// Titre de la page en blanc
.page-title {
  position: relative;
  @extend %flex-column;

  h1 {
    color: $color-white;
    font-weight: 700;
    font-size: 24px;

    & > .icon {
      margin-right: $gap;
    }
  }

  h2 {
    color: $color-white;
    font-weight: 600;
    font-size: 18px;
  }

  p {
    color: $color-white;
    font-size: 13px;
  }

  &__flight {
    @extend %flex-row;
    justify-content: space-between;

    & > img {
      width: 50px;
      transform: rotate(25deg);
    }
  }

  &__badges {
    @extend .badges;
  }

  &__search-metas {
    @extend %flex-row;
    justify-content: space-between;
    align-items: center;

    &__filters-form {
      & > button {
        border: 2px solid $color-disabled;
        border-radius: 8px;
        background: none;
        padding: 2px 11px;
        color: $color-disabled;
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;

        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.title--horizontal {
  @extend %flex-row;
  justify-content: space-between;
}

.box {
  position: relative;
  @extend %flex-column;
  align-items: stretch;
  padding: 20px;
  background: $color-white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  &__close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: $color-greyscale-light-grey;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 60%;
    }
  }
}

// Menu du bas
.bottom-nav {
  @extend %flex-row;
  justify-content: space-around;
  background: $color-greyscale-off-white;
  filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.05));
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 16px 32px;

  &__item {
    @extend %flex-column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex: 1;

    &__icon {
      width: 22px;
      height: 22px;
      position: relative;
    }

    &__label {
      font-size: 13px;
      color: $color-greyscale-placeholder;
      font-weight: 500;
    }

    // Élément actif
    &--active {
      .bottom-nav__item__icon {
      }

      .bottom-nav__item__label {
        color: $color-primary;
        font-weight: 600;
      }
    }
  }
}

.notification-dot {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $color-red;
  z-index: 1;
  color: $color-greyscale-off-white;
  font-weight: 500;
  font-size: 9px;
  @extend %flex-center;
}

// Menu latéral
.notifications-nav,
.sidebar-nav {
  @extend %flex-column;
  gap: $gap * 2;
  background: $color-greyscale-off-white;
  padding: 30px 20px;
  position: fixed;
  right: -80%;
  top: 0;
  bottom: 0;
  width: 80%;
  z-index: 200;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;

  &--active {
    right: 0;
  }

  &__close-button {
    align-self: end;

    &:hover {
      cursor: pointer;
    }
  }

  a {
    text-decoration: none;
    color: $color-greyscale-body;
    font-size: 15px;
  }

  h5 {
    font-size: 13px;
    color: $color-greyscale-placeholder;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__socials {
    @extend %flex-row;
    gap: $gap * 2;

    a:hover {
      svg * {
        fill: $color-primary;
      }
    }
  }
}

nav {
  position: relative;
  padding: 0 $gap;

  ul {
    display: flex;
    flex-direction: row;
    gap: $gap;

    li {
      list-style: none;

      a {
        color: $color-white;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        opacity: 0.5;

        &.selected,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// Arrière-plan du drawer/menu latéral
.full-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.7);
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  display: none;

  &--active {
    opacity: 1;
    display: block;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  @extend %flex-center;
  background: $color-primary;
  color: $color-greyscale-off-white;
  font-size: 13px;
  font-weight: 600;
}

article.content {
  margin-top: 120px;
}