$color-background: #FCFCFC;
$color-white: #FFFFFF;
$color-grey-lighter: #F7F7FC;
$color-grey-light: #E5E5E5;
$color-greyscale-off-white: #FCFCFC;
$color-greyscale-input: #EFF0F7;
$color-greyscale-line: #EFF0F7;
$color-greyscale-light-grey: #D9DBE9;
$color-grey: #A0A3BD;
$color-greyscale-placeholder: #A0A3BD;
$color-greyscale-label: #6E7191;
$color-greyscale-body: #4E4B66;
$color-greyscale-hash: #262338;

$color-disabled: #9B9FEA;
$color-primary: #424ADF;

$color-green: #6FCF97;
$color-yellow: #D6BF6F;
$color-orange: #FFBC7E;
$color-red: #EB5772;

$transition: 0.3s ease;
$gap: 15px;

%font-family-poppins {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%flex-row {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

%flex-column {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%debug {
  border: 1px solid red;
}