@import "_general";

.cart-page {
  &--empty {
    position: absolute;
    height: 100%;
    width: 100%;

    &__content {
      @extend %flex-column;
      height: 100%;

      &__icon {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto;
        background: $color-greyscale-off-white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
        @extend %flex-center;
      }

      h2 {
        @extend %link-large;
        text-align: center;
        color: $color-greyscale-placeholder;
      }

      p {
        text-align: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
      }

      .button {
        margin-top: auto;
      }
    }
  }
}
