@import "_general";

.cart-quote-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  @extend %flex-center;
  background: url('../images/jet_sky.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  &::before {
    background: rgba(44, 36, 140, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  &::after {
    background: linear-gradient(180deg, rgba(43, 34, 136, 0.3) 0%, rgba(43, 34, 136, 0.15) 100%), linear-gradient(180deg, rgba(197, 6, 138, 0.02) 39.22%, rgba(30, 9, 159, 0.1) 100%), linear-gradient(0deg, rgba(108, 32, 232, 0.15), rgba(108, 32, 232, 0.15)), rgba(35, 39, 132, 0.2);
  }

  .quote {
    position: relative;
    @extend %flex-column;
    align-items: center;
    z-index: 1;

    &__animation {
      border-width: 7px;
      border-style: dotted;
      border-color: rgba($color-white, 0.3);
      width: 230px;
      height: 230px;
      border-radius: 50%;
      @extend %flex-center;

      img {
        width: 50%;
        opacity: 0.5;
      }

      &--1-4-complete {
        border-right-color: $color-white;
      }

      &--half-complete {
        border-right-color: $color-white;
        border-bottom-color: $color-white;
      }

      &--3-4-complete {
        border-right-color: $color-white;
        border-bottom-color: $color-white;
        border-left-color: $color-white;
      }

      &--complete {
        position: relative;
        border-style: solid;
        border-color: $color-white;
        border-width: 5px;

        img {
          opacity: 1;
        }

        &__icon {
          position: absolute;
          top: 0;
          right: 0;
          width: 63px;
          height: 63px;
          border-radius: 50%;
          background: $color-white;
          transform: translate(10px, -10px);
          @extend %flex-center;

          img {
            width: 50%;
          }
        }
      }
    }

    &__message {
      color: $color-background;
      font-weight: 600;
      font-size: 21px;
      line-height: 1.4em;
      letter-spacing: 2px;
      text-align: center;
    }

    &__message-small {
      color: $color-greyscale-off-white;
      font-weight: 400;
      font-size: 13px;
      line-height: 1.4em;
      letter-spacing: 0.5px;
      text-align: center;
      opacity: 0.7;
    }

    button {
      border-color: $color-greyscale-off-white;
      color: $color-greyscale-off-white;
    }
  }
}
