@import "_general";

.design-system {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {

  }

  & > section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .horizontal {
    @extend %flex-row;
    align-items: center;
    flex-wrap: wrap;
  }

  nav ul li a {
    color: $color-greyscale-body;
  }

  .breadcrumb {
    ul li {
      color: $color-greyscale-body;

      &::before {
        border-color: $color-greyscale-light-grey;
        background: $color-white;
      }
      &::after {
        background: $color-greyscale-light-grey;
      }

      &.completed::before {
        background: $color-greyscale-light-grey;
      }
    }
  }
}