@import "_general";

.introduction-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  @extend %flex-column;
  justify-content: space-evenly;
  background: url('../images/jet_sky.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  &::before {
    background: rgba(44, 36, 140, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  &::after {
    background: linear-gradient(180deg, rgba(43, 34, 136, 0.3) 0%, rgba(43, 34, 136, 0.15) 100%), linear-gradient(180deg, rgba(197, 6, 138, 0.02) 39.22%, rgba(30, 9, 159, 0.1) 100%), linear-gradient(0deg, rgba(108, 32, 232, 0.15), rgba(108, 32, 232, 0.15)), rgba(35, 39, 132, 0.2);
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  .header {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__content {
    @extend %flex-column;
    align-items: center;
    gap: 3 * $gap;
    height: 40%;

    &__title {
      color: $color-background;
      font-weight: 700;
      font-size: 29px;
      line-height: 1.4em;
      letter-spacing: 2px;
      text-align: center;
    }

    &__description {
      color: $color-greyscale-off-white;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.4em;
      letter-spacing: 0.5px;
      text-align: center;
    }

    &__navigation {
      position: absolute;
      left: 50%;
      bottom: -20px;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      gap: 6px;

      & > div {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $color-white;
        opacity: 0.5;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  button {
    border-color: $color-greyscale-off-white;
    color: $color-greyscale-off-white;
  }
}
