@import "_general";

.go-back-link {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  margin: 0;
}

.flight-page {
  background: $color-white;
  @extend %flex-column;

  .slider {
    height: 250px;
    margin: 0;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    h2 {
      @extend %link-medium;
      margin-bottom: 10px;
    }

    &__info {
      display: flex;
      flex-direction: row;
      gap: 20px;

      & > div {
        display: flex;
        flex-direction: row;
        gap: 5px;
        color: $color-greyscale-placeholder;
        font-size: 13px;
        line-height: 16px;

        img {
          height: 13px;
        }
      }
    }
  }

  &__icons {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 10px 20px;

    .icon {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      span.optional-badge {
        position: absolute;
        left: 50%;
        background: $color-primary;
        color: $color-white;
        padding: 2px 5px;
        border-radius: 10px;
        font-size: 7px;
      }

      span {
        font-size: 9px;
        line-height: 11px;
        text-align: center;
      }
    }
  }
}