@import "_general";

.sign-page {
  &__header {
    margin: 0;
    padding: 20px;
    position: relative;
    background: url('../images/jet_sky.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    @extend %flex-column;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }

    &::before {
      background: rgba(44, 36, 140, 0.1);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }

    &::after {
      background: linear-gradient(180deg, rgba(43, 34, 136, 0.3) 0%, rgba(43, 34, 136, 0.15) 100%), linear-gradient(180deg, rgba(197, 6, 138, 0.02) 39.22%, rgba(30, 9, 159, 0.1) 100%), linear-gradient(0deg, rgba(108, 32, 232, 0.15), rgba(108, 32, 232, 0.15)), rgba(35, 39, 132, 0.2);
    }

    .header {
      position: relative;
      z-index: 1;
    }

    &__content {
      position: relative;
      z-index: 1;
      width: 80%;
      margin: auto;
      @extend %flex-column;

      img {
        margin-bottom: 30px;
      }

      p {
        color: $color-greyscale-off-white;
        text-align: center;
        opacity: 0.8;
      }

      button {
        border-color: $color-greyscale-off-white;
        color: $color-greyscale-off-white;
      }
    }
  }
}
