.badge {
  display: inline-block;
  padding: 6px 12px;

  border-radius: 15px;
  background: $color-greyscale-input;
  color: $color-greyscale-label;

  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.6px;

  &--very-light {
    background: #D1D3FF;
    color: #676ADD;
  }

  &--light {
    background: #C4E9FF;
    color: #41ABE9;
  }

  &--midsize {
    background: #BACBFF;
    color: #2D5FF5;
  }

  &--super-mid {
    background: #D1D3FF;
    color: #676ADD;
  }

  &--heavy {
    background: #C4E9FF;
    color: #41ABE9;
  }

  &--ultra-long {
    background: #BACBFF;
    color: #2D5FF5;
  }
}

.badge-status {
  /* Auto layout */
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  gap: 6px;

  background: $color-grey;
  border-radius: 8px;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: $color-background;
  text-transform: uppercase;

  &--primary {
    background: $color-primary;
  }

  &--disabled {
    background: $color-greyscale-light-grey;
  }

  &--confirmed {
    background: $color-green;
  }

  &--waiting {
    background: $color-disabled;
  }

  &--pending {
    background: $color-orange;
  }

  &--cancelled {
    background: $color-red;
  }
}