.buttons {
  @extend %flex-column;

  &--horizontal {
    @extend %flex-row;
    justify-content: space-between;

    & > * {
      white-space: nowrap;
    }
  }
}

.button {
  @extend %flex-row;
  justify-content: center;
  align-items: center;
  // width: 100%;
  border-radius: 12px;
  border: none;
  padding: 16px 24px;

  @extend %font-family-poppins;
  font-weight: 600;
  font-size: 15px;

  &:hover {
    cursor: pointer;
  }

  // Taille du bouton

  &--small {
    padding: 12px 22px;
    border-radius: 16px;
    text-transform: initial;
    font-size: 13px;
    line-height: 22px;
  }

  // Style du bouton

  &--primary {
    background: $color-primary;
    color: $color-white;
  }

  &--disabled {
    background: $color-disabled;
    color: $color-white;
  }

  &--danger {
    background: $color-red;
    color: $color-white;
  }

  &--empty {
    background: none;
    border: none;
    padding: 7px 13px;
    text-transform: initial;
  }

  &--disabled {
    background: none;
    border: 2px solid $color-greyscale-line;
    color: $color-greyscale-line;
  }

  &--transparent {
    color: $color-greyscale-off-white;
    background: rgba(173, 140, 136, 0.9);
    opacity: 0.85;
    backdrop-filter: blur(2px);
  }

  &--secondary {
    background: none;
    border: 2px solid $color-primary;
    color: $color-primary;

    svg {
      path {
        stroke: $color-primary;
      }
    }

    &.button--danger {
      border: 2px solid $color-red;
      color: $color-red;
    }
  }
}

.button-circle {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: calc(40px / 2);
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;

  svg path {
    stroke: $color-grey-light;
    transition: stroke $transition;
  }

  &:hover {
    cursor: pointer;

    svg path {
      stroke: $color-grey;
    }
  }
}