.booking-card {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__arc-plane {
    position: relative;
    width: 70%;
    margin: auto;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      font-size: 8px;
      font-weight: 600;
      line-height: 22px;
      color: $color-primary;
    }
  }

  &__cities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > div {
      h3 {
        font-weight: 600;
        font-size: 13px;
        line-height: 1.4em;
        margin: 0;
      }

      p {
        font-weight: 500;
        font-size: 10px;
        line-height: 22px;
      }
    }

    & > div:first-of-type {
      text-align: left;
    }

    & > div:last-of-type {
      text-align: right;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > div:first-of-type {
      text-align: left;
    }

    & > div:last-of-type {
      text-align: right;
    }

    .subtitle {
      font-weight: 500;
      font-size: 9px;
      line-height: 11px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: $color-greyscale-line;
    }

    .date {
      font-weight: 600;
      font-size: 13px;
      line-height: 22px;
    }

    .price {
      @extend %link-small;
      font-weight: 700;
      color: $color-primary;
    }
  }

  .separator {
    border-bottom: 2px dashed $color-greyscale-line;
  }

  &__status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 40%;
    }

    p {
      font-weight: 600;
      font-size: 11px;
      line-height: 22px;
    }
  }

  &--waiting {
    .booking-card__arc-plane {
      opacity: 0.5;
    }

    .price {
      opacity: 0.5;
    }

    .booking-card__status {
      p {
        color: $color-orange;
      }
    }
  }

  &--cancelled {
    .booking-card__arc-plane {
      opacity: 0.5;
    }

    .price {
      color: $color-greyscale-placeholder;
    }

    .booking-card__status {
      p {
        color: $color-red;
      }
    }
  }
}