.cards {
  @extend %flex-row;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: $gap;
  padding: 20px;
  margin: 0;

  & > * {
    flex: 0 0 auto;
  }

  // Mise en avant d'une carte dans la liste (.card--highlight)
  &--highlight {
    align-items: center;

    .card {
      gap: 80px;
      width: 60%;
      box-shadow: 2.13px 2.13px 7.1px rgba(0, 0, 0, 0.5);

      &--highlight {
        gap: 150px;
        width: 75%;
      }
    }
  }
}

.card {
  position: relative;
  @extend %flex-column;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 15px;
  width: 90%;
  background: var(--card-background);
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(264.7deg, rgba(145, 78, 255, 0.03) 12.43%, rgba(42, 11, 91, 0.2) 99.03%), rgba(100, 28, 255, 0.15);
    background-blend-mode: normal, hard-light;
  }

  &__top {
    @extend %flex-column;

    .badge {
      align-self: end;
    }
  }

  &__bottom {
    @extend %flex-row;
    justify-content: space-between;
    align-items: end;

    .specs {
      position: relative;
      color: $color-greyscale-off-white;

      svg * {
        stroke: $color-greyscale-off-white
      }
    }

    .price {
      background: $color-primary;
      opacity: 0.92;
      border-radius: 6px;
      color: $color-greyscale-off-white;
      padding: 3px 8px;
    }
  }

  .title {
    position: relative;
    color: $color-greyscale-off-white;
    font-weight: 600;
  }

  p {
    position: relative;
    font-size: 12px;
    color: $color-greyscale-off-white;
  }

  .button {
    margin-top: auto;
    position: relative;
    color: $color-greyscale-off-white;
    text-align: right;
    justify-content: end;
  }
}

.specs {
  @extend %flex-column;
  gap: 0;
  margin-top: $gap;

  &__item {
    @extend %flex-row;
    gap: $gap / 2;
    align-items: center;

    &__value {
      font-size: 11px;
    }
  }
}

.account-card {
  position: relative;
  background: url('../images/jet coins.png');
  background-size: cover;
  padding: 22px;
  @extend %flex-column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 12px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(68.12deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 64.16%), linear-gradient(264.7deg, rgba(108, 32, 232, 0.0225) 12.43%, rgba(73, 24, 153, 0.15) 99.03%), rgba(100, 28, 255, 0.1);
  }

  // Pour passer en-dessus du background::before
  & > * {
    position: relative;
  }

  &__title {
    color: $color-white;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
  }

  &__subtitle {
    color: $color-greyscale-off-white;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    opacity: 0.8;
    text-shadow: 0 4px 20px #000;
  }

  &__footer {
    margin-top: 35px;
    @extend %flex-row;
    gap: $gap;
    justify-content: space-between;
    align-items: center;

    .button {
      width: auto;
    }
  }

  &__coins {
    color: $color-yellow;
    font-weight: 600;

    &__number {
      font-size: 36px;
      line-height: 32px;
    }

    &__label {
      font-size: 13px;
      line-height: 20px;
    }
  }
}