.drawer {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: $color-white;
  border-radius: 24px 24px 0 0;
  padding: 20px;
  z-index: 200;
  transition: bottom 0.3s ease-in-out;

  & > div {
    @extend %flex-column;
  }

  h2 {
    @extend %link-large;
    color: $color-primary;
    margin-bottom: 14px;
    @extend %flex-row;
  }

  h3 {
    @extend %link-large;
    color: $color-greyscale-body;
    margin-bottom: 14px;
  }

  &--active {
    bottom: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 2px;
    background: $color-greyscale-line;
    border-radius: 1px;
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: self-start;
    margin: 10px 0;

    &__item {
      color: $color-greyscale-placeholder;
      height: 35px;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      text-decoration: none;

      &:hover,
      &--active {
        color: $color-primary;
        border-bottom: 3px solid $color-primary;
      }
    }
  }

  input {
    text-align: center;
  }
}