
.search-results {
  @extend %flex-column;
}

.flight-card {
  background: $color-white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 12px;

  &__pictures {
    position: relative;
    width: 100%;
    height: 140px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;

    & > .badge {
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 1;
    }

    & > .ribbon {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
      line-height: 24px;
      text-align: center;
      z-index: 1;
      transform-origin: bottom center;
      transform: rotate(35deg) translate(-30px, 10px);
      background: $color-green;
      font-size: 8px;
      color: $color-white;
    }

    & > .slider {
      position: relative;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      overflow: hidden;
    }
  }

  &__content {
    position: relative;
    padding: 12px 14px;

    h3 {
      @extend %link-small;
      color: $color-greyscale-body;
    }

    & > .badges {
      position: absolute;
      top: 0;
      right: 16px;
      transform: translateY(-50%);
      display: flex;
      flex-direction: row;
      gap: 8px;

      .badge {
        width: 28px;
        height: 28px;
        border-radius: 50%;
      }
    }

    &__details {
      display: flex;
      flex-direction: row;
      gap: $gap;
      align-items: center;

      p {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        color: $color-greyscale-placeholder;
        font-size: 13px;
        font-weight: 600;

        &.ecology {
          img {
            opacity: 0.5;

            &.active {
              opacity: 1;
            }
          }
        }
      }

      img {
        width: 15px;
        height: 15px;
      }

      .price {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.2px;
        color: $color-primary;
        margin-left: auto;
      }
    }
  }
}