.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
  gap: $gap;

  & > * {
    width: 100%;
  }

  label {
    // Label texte
    color: $color-greyscale-label;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;

    // Label icône
    svg path {
      stroke: $color-greyscale-label;
    }
  }

  input[type="text"],
  input[type="time"],
  input[type="number"] {
    @extend %font-family-poppins;
    font-weight: 600;
    padding: 10px;
    background: $color-grey-lighter;
    border: none;
    outline: none;
    color: $color-greyscale-hash;
    width: 100%;
    border-radius: 10px;

    &::placeholder {
      font-weight: 500;
      color: $color-greyscale-placeholder;
    }

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  input[type="time"],
  input[type="number"] {
  }

  input[type="radio"] {
    appearance: none;
    margin: 0;
    height: 20px;
    width: 20px;
    background: $color-white;
    font: inherit;
    color: $color-greyscale-placeholder;
    border: 2px solid $color-greyscale-placeholder;
    border-radius: 50%;
    flex: 0 0 20px;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      margin: 3px;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      background: $color-white;
    }

    &:checked {
      background: $color-primary;
      border-color: $color-primary;

      &::before {
        transform: scale(1);
      }
    }
  }

  input[type="checkbox"] {
    position: relative;
    appearance: none;
    background: $color-greyscale-line;
    border-radius: 15px;
    font: inherit;
    width: 50px;
    flex: 0 0 50px;
    height: 30px;
    padding: 3px;
    transition: background 0.3s ease;

    &:hover {
      cursor: pointer;
    }

    &::after {
      position: absolute;
      left: 3px;
      top: 3px;
      border-radius: 50%;
      content: '';
      width: 30px - 2 * 3px;
      height: 30px - 2 * 3px;
      background: $color-white;
      transition: left 0.3s ease;
    }

    &:checked {
      background: $color-primary;

      &::after {
        left: 50px - 24px - 3px;
      }
    }
  }

  select {
    appearance: none;
    width: 100%;
    border: 2px solid $color-greyscale-placeholder;
    border-radius: 16px;
    padding: 16px 24px;
    @extend %font-family-poppins;
    @extend %text-small;
    color: $color-greyscale-placeholder;
    position: relative;
    background: $color-greyscale-off-white;
    background-image: url('../icons/bracket-down.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: right 16px center;
  }

  .select {
    @extend .badge-status;
    border: none;
    padding-right: 30px;
    background-image: url('../icons/bracket-down-white.svg');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: right 10px center;

    &--small-blue {
      @extend .badge-status--primary;
    }

    &--small-grey {
      background: $color-greyscale-input;
      color: $color-greyscale-placeholder;
      padding-right: 10px;
    }
  }

  .upload-file-input {
    @extend %flex-row;
    gap: $gap;
    width: 100%;
    align-items: center;

    &__progression {
      flex: 1;
    }

    &__file-name {
      @extend %flex-row;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;

      p {
        color: $color-greyscale-body;
      }

      .button {
        width: auto;
      }
    }

    &__progress-bar {
      background: $color-greyscale-light-grey;
      height: 7px;
      width: 100%;
      border-radius: 4px;

      .progress-bar {
        background: $color-primary;
        height: 7px;
        border-radius: 4px;
        opacity: 0.5;
      }
    }

    &--completed {
      .progress-bar {
        opacity: 1;
      }
    }
  }

  &__group {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    align-items: center;
    gap: $gap;

    & > * + * {
      flex: 1;
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      background: $color-primary;
      border-radius: 50%;
      background: rgba($color-primary, 0.1);

      img {
        width: 90%;
        height: 90%;
      }
    }

    &--vertical {
      flex-direction: column;
      align-items: stretch;
      gap: 4px;

      & > *:first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      & > *:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &--horizontal {
      gap: 4px;

      & > *:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      & > *:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &--2-1 {
      & > *:first-child {
        flex: 2;
      }

      & > *:last-child {
        flex: 1;
      }
    }
  }

  // Champ du formulaire
  &__input--inline {
    padding-left: 20px;
    padding-right: 20px;
    background: $color-grey-lighter;
    border-radius: 10px;
    height: 50px;
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  // Champ du formulaire
  &__input {
    padding-left: 20px;
    padding-right: 20px;
    background: $color-grey-lighter;
    border-radius: 10px;
    height: 50px;
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__input-label {
    display: flex;
    flex-direction: column;
    // align-items: center;
    flex: 1;

    input {
      padding-left: 20px;
      padding-right: 20px;
      background: $color-grey-lighter;
      border-radius: 10px;
      height: 50px;
    }
  }

  &--search {
    &__results {
      width: 100%;
      @extend %flex-column;
      min-height: 200px;
      gap: $gap;
      padding: 10px 0;

      &__item {
        @extend %flex-row;
        justify-content: space-between;
        align-items: center;

        label {
          @extend %text-medium;
          color: $color-greyscale-body;
        }
      }
    }
  }
}

.datepicker {
  .ui-datepicker {
    margin: auto;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 0.25px;
    color: $color-greyscale-hash;

    &-inline {
      width: 350px;
      border: none;
    }

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      :nth-child(1) {
        order: 1;
      }

      :nth-child(2) {
        order: 3;
      }

      :nth-child(3) {
        order: 2;
      }
    }

    &-title {
      font-size: 18px;
      line-height: 32px;
    }

    &-prev {
      width: 56px;
      height: 56px;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.9634 21L24.0002 27.9632L30.9634 34.9263' stroke='%23262338' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }

      &:hover {
        cursor: pointer;

        &::before {
          content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.9634 21L24.0002 27.9632L30.9634 34.9263' stroke='%23424ADF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
    }

    &-next {
      width: 56px;
      height: 56px;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 21L32.9632 27.9632L26 34.9263' stroke='%23262338' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }

      &:hover {
        cursor: pointer;

        &::before {
          content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 21L32.9632 27.9632L26 34.9263' stroke='%23424ADF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
    }

    &-calendar {

      thead {
        tr {
          th {
            text-align: center;
            font-size: 13px;
            line-height: 22px;
            color: $color-greyscale-placeholder;
          }
        }
      }

      tbody {
        tr {
          td {
            width: 50px;
            height: 50px;
            vertical-align: center;
            text-align: center;
            display: table-cell;

            a.ui-state-default {
              display: block;
              text-decoration: none;
              font-size: 13px;
              color: $color-greyscale-hash;
            }

            &:not(.ui-datepicker-unselectable):hover {
              background: $color-primary;
              border-radius: 12px;

              a {
                color: $color-white;
              }
            }
          }
        }
      }
    }
  }
}