.icon {
  &--check {
    -webkit-mask: url("../icons/check.svg") no-repeat center;
    mask: url("../icons/check.svg") no-repeat center;
  }

  &--arc-plane {
    -webkit-mask: url("../icons/arc-plane.svg") no-repeat center;
    mask: url("../icons/arc-plane.svg") no-repeat center;
  }

  &--arrow-left {
    -webkit-mask: url("../icons/arrow-left.svg") no-repeat center;
    mask: url("../icons/arrow-left.svg") no-repeat center;
  }

  // TAILLES

  &--small {
    width: 0.8rem;
    height: 0.8rem;
  }

  &--medium {
    width: 1rem;
    height: 1rem;
  }

  &--large {
    width: 1.5rem;
    height: 1.5rem;
  }

  &--x-large {
    width: 3rem;
    height: 3rem;
  }

  // COULEURS
  // https://codepen.io/sosuke/pen/Pjoqqp

  &--greyscale-body {
    filter: invert(30%) sepia(7%) saturate(1973%) hue-rotate(207deg) brightness(88%) contrast(85%);
  }

  &--greyscale-grey-light {
    filter: invert(100%) sepia(0%) saturate(1013%) hue-rotate(173deg) brightness(112%) contrast(80%);
  }

  &--greyscale-off-white {
    filter: invert(100%) sepia(0%) saturate(145%) hue-rotate(130deg) brightness(116%) contrast(98%);
  }

  &--greyscale-placeholder {
    filter: invert(75%) sepia(5%) saturate(1175%) hue-rotate(196deg) brightness(90%) contrast(79%);
  }

  &--primary {
    filter: invert(22%) sepia(63%) saturate(3665%) hue-rotate(234deg) brightness(92%) contrast(90%);
  }

  &--disabled {
    filter: invert(74%) sepia(11%) saturate(4721%) hue-rotate(195deg) brightness(97%) contrast(89%);
  }

  &--green {
    filter: invert(73%) sepia(19%) saturate(769%) hue-rotate(92deg) brightness(96%) contrast(95%);
  }

  &--yellow {
    filter: invert(99%) sepia(74%) saturate(1245%) hue-rotate(325deg) brightness(91%) contrast(83%);
  }

  &--orange {
    filter: invert(70%) sepia(58%) saturate(366%) hue-rotate(337deg) brightness(103%) contrast(101%);
  }

  &--red {
    filter: invert(58%) sepia(45%) saturate(4933%) hue-rotate(315deg) brightness(94%) contrast(95%);
  }
}