.list {
  @extend %flex-column;
  gap: $gap;

  a {
    &:hover {
      color: $color-primary;

      svg * {
        stroke: $color-primary;
      }
    }
  }

  &__item {
    @extend %flex-row;
    gap: $gap;
    align-items: center;
    justify-content: space-between;

    &--icon {

    }

    &--badge {
      justify-content: space-between;
    }

    &__left,
    &__right {
      @extend %flex-row;
      gap: $gap;
      align-items: center;
    }

    &--disabled {
      color: $color-greyscale-placeholder;

      .avatar {
        background: $color-greyscale-light-grey;
      }
    }
  }
}

.steps {
  @extend %flex-column;
  gap: $gap * 2;
  align-items: stretch;

  .step {
    @extend %flex-row;
    gap: $gap;
    align-items: center;
    font-weight: 600;
    font-size: 16px;

    &__number {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $color-greyscale-light-grey;
      color: $color-greyscale-off-white;
      @extend %flex-center;
    }

    &__name {
      color: $color-greyscale-placeholder;
    }

    .badge-status {
      margin-left: auto;
    }

    &:not(:first-of-type) {
      & .step__number {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: $gap * -2;
          left: 50%;
          transform: translateX(-50%);
          width: 3px;
          height: $gap * 2;
          background: $color-greyscale-light-grey;
        }
      }
    }

    &--completed,
    &--current {
      & .step__number {
        background: $color-primary;
        color: $color-greyscale-off-white;
      }

      & .step__name {
        color: $color-greyscale-body;
      }

      &:not(:first-of-type) {
        & .step__number::before {
          background: $color-primary;
        }
      }
    }
  }
}