
.breadcrumb {
  ul {
    @extend %flex-row;
    justify-content: space-between;

    li {
      flex: 1;
      list-style: none;
      color: $color-greyscale-off-white;
      @extend %flex-column;
      align-items: center;
      text-align: center;
      font-size: 12px;
      position: relative;
      padding-top: 20px;
      opacity: 0.5;

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $color-primary;
        border: 4px solid $color-greyscale-off-white;
        z-index: 1;
        margin-top: 2px;
      }

      &:not(:first-of-type) {
        &::after {
          content: '';
          position: absolute;
          left: -7px;
          top: calc(15px / 2);
          transform: translate(-50%);
          height: 4px;
          width: 102%;
          z-index: 0;
          background: $color-greyscale-off-white;
        }
      }

      &.completed {
        opacity: 1;

        &::before {
          background: $color-greyscale-off-white;
        }
      }

      &.current {
        opacity: 1;

        &::before {
          border: 6px solid $color-greyscale-off-white;
          margin-top: 0;
        }
      }
    }
  }
}