
.slider {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__navigation {
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 6px;

    & > div {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $color-white;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }
}