.table {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 30%;
    }

    & > * {
      font-size: 12px;
      font-weight: 500;
      line-height: 24px;
    }

    & > *:first-child {
      text-align: left;
      color: $color-greyscale-label;
    }

    & > *:last-child {
      text-align: right;
    }

    &--big {
      & > * {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}