.link {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.75px;
}

%link-small {
  @extend %font-family-poppins;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  letter-spacing: 0.75px;

}

%link-medium {
  @extend %font-family-poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 160% */
  letter-spacing: 0.75px;
}

%link-large {
  @extend %font-family-poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */
  letter-spacing: 0.75px;
}

%text-small {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 165% */
  letter-spacing: 0.75px;
}

%text-medium {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 165% */
  letter-spacing: 0.75px;
}

.text {
  &--small {
    font-size: 13px;
  }

  &--center {
    text-align: center;
  }

  &--primary {
    color: $color-primary;
  }

  &--placeholder {
    color: $color-greyscale-placeholder;
  }

  &--danger {
    color: $color-red;
  }

  &--price {
    font-weight: 700;
    color: $color-primary;
  }

  &--gold {
    font-weight: 700;
    color: $color-yellow;
  }
}