@import url("https://use.typekit.net/chl7jio.css");
body, .search-result__content h3, .add-to-card__info .price, .form select, .form input[type=text],
.form input[type=time],
.form input[type=number], .button {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sidebar-nav__socials, .bottom-nav, .list__item, .form--search__results__item, .specs__item, .card__bottom, .cards {
  display: flex;
  flex-direction: row;
}

.sidebar-nav, .bottom-nav__item, .list, .form--search__results, .specs, .card__top, .card {
  display: flex;
  flex-direction: column;
}

.badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 15px;
  background: #EFF0F7;
  color: #6E7191;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.6px;
}
.badge--very-light {
  background: #D1D3FF;
  color: #676ADD;
}
.badge--light {
  background: #C4E9FF;
  color: #41ABE9;
}
.badge--midsize {
  background: #BACBFF;
  color: #2D5FF5;
}
.badge--super-mid {
  background: #D1D3FF;
  color: #676ADD;
}
.badge--heavy {
  background: #C4E9FF;
  color: #41ABE9;
}
.badge--ultra-long {
  background: #BACBFF;
  color: #2D5FF5;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 16px 24px;
  font-weight: 600;
  font-size: 15px;
}
.button:hover {
  cursor: pointer;
}
.button--small {
  padding: 12px 22px;
  border-radius: 16px;
  text-transform: initial;
}
.button--primary {
  background: #424ADF;
  color: #FFFFFF;
}
.button--secondary {
  background: none;
  border: 2px solid #EFF0F7;
  color: #EFF0F7;
}
.button--secondary svg path {
  stroke: #EFF0F7;
}
.button--empty {
  background: none;
  border: none;
  padding: 7px 13px;
  text-transform: initial;
}

.button-circle {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-circle svg path {
  stroke: #E5E5E5;
  transition: stroke 0.3s ease;
}
.button-circle:hover {
  cursor: pointer;
}
.button-circle:hover svg path {
  stroke: #A0A3BD;
}

.cards {
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 20px;
}
.cards > * {
  flex: 0 0 auto;
}
.cards--highlight {
  align-items: center;
}
.cards--highlight .card {
  gap: 80px;
  width: 60%;
  box-shadow: 2.13px 2.13px 7.1px rgba(0, 0, 0, 0.5);
}
.cards--highlight .card--highlight {
  gap: 150px;
  width: 75%;
}

.card {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 15px;
  width: 90%;
  background: var(--card-background);
  background-size: cover;
  background-position: center;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(264.7deg, rgba(145, 78, 255, 0.03) 12.43%, rgba(42, 11, 91, 0.2) 99.03%), rgba(100, 28, 255, 0.15);
  background-blend-mode: normal, hard-light;
}
.card__top {
  gap: 10px;
}
.card__top .badge {
  align-self: end;
}
.card__bottom {
  justify-content: space-between;
  align-items: end;
}
.card__bottom .specs {
  position: relative;
  color: #FCFCFC;
}
.card__bottom .specs svg * {
  stroke: #FCFCFC;
}
.card__bottom .price {
  background: #424ADF;
  opacity: 0.92;
  border-radius: 6px;
  color: #FCFCFC;
  padding: 3px 8px;
}
.card .title {
  position: relative;
  color: #FCFCFC;
  font-weight: 600;
}
.card p {
  position: relative;
  font-size: 12px;
  color: #FCFCFC;
}
.card .button {
  margin-top: auto;
  position: relative;
  color: #FCFCFC;
  text-align: right;
  justify-content: end;
}
.card .button svg * {
  stroke: #FCFCFC;
}

.specs {
  margin-top: 10px;
}
.specs__item {
  gap: 10px;
  align-items: center;
}
.specs__item__icon svg {
  width: 15px;
  height: 15px;
}
.specs__item__value {
  font-size: 11px;
}

.add-to-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.add-to-card__arc-plane {
  width: 70%;
  margin: auto;
}
.add-to-card__cities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add-to-card__cities > div h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.4em;
  margin: 0;
}
.add-to-card__cities > div p {
  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
}
.add-to-card__cities > div:first-of-type {
  text-align: left;
}
.add-to-card__cities > div:last-of-type {
  text-align: right;
}
.add-to-card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add-to-card__info > div:first-of-type {
  text-align: left;
}
.add-to-card__info > div:last-of-type {
  text-align: right;
}
.add-to-card__info .subtitle {
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #EFF0F7;
}
.add-to-card__info .date {
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
}
.add-to-card__info .price {
  font-weight: 700;
  color: #424ADF;
}
.add-to-card .separator {
  border-bottom: 2px dashed #EFF0F7;
}

.drawer {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border-radius: 24px 24px 0 0;
  padding: 20px;
  z-index: 200;
  transition: bottom 0.3s ease-in-out;
}
.drawer h3 {
  color: #4E4B66;
  margin-bottom: 14px;
}
.drawer--active {
  bottom: 0;
}
.drawer:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  background: #EFF0F7;
  border-radius: 1px;
}
.drawer__tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: self-start;
  margin: 10px 0;
}
.drawer__tabs__item {
  color: #A0A3BD;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}
.drawer__tabs__item:hover, .drawer__tabs__item--active {
  color: #424ADF;
  border-bottom: 3px solid #424ADF;
}
.drawer input {
  text-align: center;
}

header {
  position: relative;
  display: block;
  height: 200px;
  width: 100%;
  background: url("../images/jet_sky.png");
  background-size: cover;
  padding: 20px;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(44, 36, 140, 0.1);
  backdrop-filter: blur(5px);
}
header .title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}
header .title__icon svg path {
  stroke: #FFFFFF;
}
header .title h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
  gap: 10px;
}
.form > * {
  width: 100%;
}
.form label {
  color: #6E7191;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.25px;
}
.form label svg path {
  stroke: #6E7191;
}
.form input[type=text],
.form input[type=time],
.form input[type=number] {
  font-weight: 600;
  padding: 10px;
  background: #F7F7FC;
  border: none;
  outline: none;
  color: #262338;
  width: 100%;
  border-radius: 10px;
}
.form input[type=text]::placeholder,
.form input[type=time]::placeholder,
.form input[type=number]::placeholder {
  font-weight: 500;
  color: #A0A3BD;
}
.form input[type=text]::-webkit-calendar-picker-indicator,
.form input[type=time]::-webkit-calendar-picker-indicator,
.form input[type=number]::-webkit-calendar-picker-indicator {
  display: none;
}
.form input[type=time]::before, .form input[type=time]::after,
.form input[type=number]::before,
.form input[type=number]::after {
  color: #A0A3BD;
  font-size: 1.2rem;
  line-height: 1em;
  font-weight: 500;
}
.form input[type=time]::before,
.form input[type=number]::before {
  content: "-";
}
.form input[type=time]::after,
.form input[type=number]::after {
  content: "+";
}
.form input[type=radio] {
  appearance: none;
  margin: 0;
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  font: inherit;
  color: #A0A3BD;
  border: 2px solid #A0A3BD;
  border-radius: 50%;
}
.form input[type=radio]::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: 3px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background: #FFFFFF;
}
.form input[type=radio]:checked {
  background: #424ADF;
  border-color: #424ADF;
}
.form input[type=radio]:checked::before {
  transform: scale(1);
}
.form input[type=checkbox] {
  position: relative;
  appearance: none;
  background: #EFF0F7;
  border-radius: 15px;
  font: inherit;
  width: 50px;
  flex: 0 0 50px;
  height: 30px;
  padding: 3px;
  transition: background 0.3s ease;
}
.form input[type=checkbox]:hover {
  cursor: pointer;
}
.form input[type=checkbox]::after {
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  content: "";
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  transition: left 0.3s ease;
}
.form input[type=checkbox]:checked {
  background: #424ADF;
}
.form input[type=checkbox]:checked::after {
  left: 23px;
}
.form select {
  appearance: none;
  width: 100%;
  border: 2px solid #A0A3BD;
  border-radius: 16px;
  padding: 16px 24px;
  color: #A0A3BD;
}
.form__group {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  align-items: center;
  gap: 10px;
}
.form__group > * + * {
  flex: 1;
}
.form__group__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #424ADF;
  border-radius: 50%;
  background: rgba(66, 74, 223, 0.1);
}
.form__group__icon img {
  width: 90%;
  height: 90%;
}
.form__group--vertical {
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}
.form__group--vertical > *:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form__group--vertical > *:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form__group--horizontal {
  gap: 4px;
}
.form__group--horizontal > *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form__group--horizontal > *:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form__group--2-1 > *:first-child {
  flex: 2;
}
.form__group--2-1 > *:last-child {
  flex: 1;
}
.form__input--inline {
  padding-left: 20px;
  padding-right: 20px;
  background: #F7F7FC;
  border-radius: 10px;
  height: 50px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form__input {
  padding-left: 20px;
  padding-right: 20px;
  background: #F7F7FC;
  border-radius: 10px;
  height: 50px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form__input-label {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.form__input-label input {
  padding-left: 20px;
  padding-right: 20px;
  background: #F7F7FC;
  border-radius: 10px;
  height: 50px;
}
.form--search__results {
  width: 100%;
  min-height: 200px;
  gap: 10px;
  padding: 10px 0;
}
.form--search__results__item {
  justify-content: space-between;
  align-items: center;
}
.form--search__results__item label {
  color: #4E4B66;
}

.datepicker .ui-datepicker {
  margin: auto;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: #262338;
}
.datepicker .ui-datepicker-inline {
  width: 350px;
  border: none;
}
.datepicker .ui-datepicker-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.datepicker .ui-datepicker-header :nth-child(1) {
  order: 1;
}
.datepicker .ui-datepicker-header :nth-child(2) {
  order: 3;
}
.datepicker .ui-datepicker-header :nth-child(3) {
  order: 2;
}
.datepicker .ui-datepicker-title {
  font-size: 18px;
  line-height: 32px;
}
.datepicker .ui-datepicker-prev {
  width: 56px;
  height: 56px;
}
.datepicker .ui-datepicker-prev::before {
  content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.9634 21L24.0002 27.9632L30.9634 34.9263' stroke='%23262338' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.datepicker .ui-datepicker-prev:hover {
  cursor: pointer;
}
.datepicker .ui-datepicker-prev:hover::before {
  content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.9634 21L24.0002 27.9632L30.9634 34.9263' stroke='%23424ADF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.datepicker .ui-datepicker-next {
  width: 56px;
  height: 56px;
}
.datepicker .ui-datepicker-next::before {
  content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 21L32.9632 27.9632L26 34.9263' stroke='%23262338' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.datepicker .ui-datepicker-next:hover {
  cursor: pointer;
}
.datepicker .ui-datepicker-next:hover::before {
  content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 21L32.9632 27.9632L26 34.9263' stroke='%23424ADF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.datepicker .ui-datepicker-calendar thead tr th {
  text-align: center;
  font-size: 13px;
  line-height: 22px;
  color: #A0A3BD;
}
.datepicker .ui-datepicker-calendar tbody tr td {
  width: 50px;
  height: 50px;
  vertical-align: center;
  text-align: center;
  display: table-cell;
}
.datepicker .ui-datepicker-calendar tbody tr td a.ui-state-default {
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #262338;
}
.datepicker .ui-datepicker-calendar tbody tr td:not(.ui-datepicker-unselectable):hover {
  background: #424ADF;
  border-radius: 12px;
}
.datepicker .ui-datepicker-calendar tbody tr td:not(.ui-datepicker-unselectable):hover a {
  color: #FFFFFF;
}

.list {
  gap: 10px;
}
.list a:hover {
  color: #424ADF;
}
.list a:hover svg * {
  stroke: #424ADF;
}
.list__item {
  gap: 10px;
}
.list__item--badge {
  justify-content: space-between;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__navigation {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.slider__navigation > div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.5;
}
.slider__navigation > div.active {
  opacity: 1;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.table__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.table__row > p:first-of-type {
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #6E7191;
}
.table__row > p:last-of-type {
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #262338;
}
.table__row--money > p:first-of-type {
  font-size: 14px;
  line-height: 24px;
  color: #6E7191;
}
.table__row--money > p:last-of-type {
  font-weight: 700;
  font-size: 15px;
  color: #424ADF;
}

.link {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.search-result__content h3, .add-to-card__info .price {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  letter-spacing: 0.75px;
}

.drawer h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */
  letter-spacing: 0.75px;
}

.form select {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 165% */
  letter-spacing: 0.75px;
}

.form--search__results__item label {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 165% */
  letter-spacing: 0.75px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F5F5F5;
  font-size: 1rem;
  color: #4E4B66;
  padding-bottom: 100px;
}

.separator {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #EFF0F7;
}

.title {
  color: #4E4B66;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.75px;
}
.title--centered {
  width: 100%;
  text-align: center;
}

.box--white {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
}

.bottom-nav {
  justify-content: space-around;
  background: #FCFCFC;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 16px 32px;
}
.bottom-nav__item {
  gap: 4px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex: 1;
}
.bottom-nav__item__icon {
  width: 22px;
  height: 22px;
}
.bottom-nav__item__icon svg * {
  stroke: #A0A3BD;
}
.bottom-nav__item__label {
  font-size: 13px;
  color: #A0A3BD;
  font-weight: 500;
}
.bottom-nav__item--active .bottom-nav__item__icon svg * {
  stroke: #424ADF;
}
.bottom-nav__item--active .bottom-nav__item__label {
  color: #424ADF;
  font-weight: 600;
}

.sidebar-nav {
  gap: 20px;
  background: #FCFCFC;
  padding: 30px;
  position: fixed;
  right: -75%;
  top: 0;
  bottom: 0;
  width: 75%;
  z-index: 200;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
}
.sidebar-nav--active {
  right: 0;
}
.sidebar-nav__close-button {
  align-self: end;
}
.sidebar-nav__close-button svg * {
  width: 18px;
  height: 18px;
  stroke: #A0A3BD;
}
.sidebar-nav__close-button:hover {
  cursor: pointer;
}
.sidebar-nav__close-button:hover svg * {
  stroke: #424ADF;
}
.sidebar-nav a {
  text-decoration: none;
  color: #4E4B66;
  font-size: 15px;
}
.sidebar-nav h5 {
  font-size: 13px;
  color: #A0A3BD;
  font-weight: 500;
  text-transform: uppercase;
}
.sidebar-nav__socials {
  gap: 20px;
}
.sidebar-nav__socials a:hover svg * {
  fill: #424ADF;
}

.full-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  display: none;
}
.full-background--active {
  opacity: 1;
  display: block;
}

.search-results {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -60px;
}

.search-result {
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
}
.search-result__pictures {
  position: relative;
  width: 100%;
  height: 140px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}
.search-result__pictures > .badge {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}
.search-result__pictures > .ribbon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  line-height: 24px;
  text-align: center;
  z-index: 1;
  transform-origin: bottom center;
  transform: rotate(35deg) translate(-30px, 10px);
  background: #34B29C;
  font-size: 8px;
  color: #FFFFFF;
}
.search-result__pictures > .slider {
  position: relative;
}
.search-result__content {
  position: relative;
  padding: 12px 14px;
}
.search-result__content h3 {
  color: #4E4B66;
}
.search-result__content > .badges {
  position: absolute;
  top: 0;
  right: 16px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.search-result__content > .badges .badge {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.search-result__content__details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.search-result__content__details p {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: #A0A3BD;
  font-size: 13px;
  font-weight: 600;
}
.search-result__content__details p.ecology img {
  opacity: 0.5;
}
.search-result__content__details p.ecology img.active {
  opacity: 1;
}
.search-result__content__details img {
  width: 15px;
  height: 15px;
}
.search-result__content__details .price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.2px;
  color: #424ADF;
  margin-left: auto;
}

/*# sourceMappingURL=card.css.map */
