@import url("https://use.typekit.net/chl7jio.css");
body, .drawer h2, .drawer h3, .booking-card__info .price, .flight-card__content h3, .form select, .form input[type=text],
.form input[type=time],
.form input[type=number], .button {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.notifications-nav__socials,
.sidebar-nav__socials, .bottom-nav, .title--horizontal, .page-title__search-metas, .page-title__flight, .header__right__item, .header__right, .header, section > .title--horizontal, .breadcrumb ul, .steps .step, .list__item__left, .list__item__right, .list__item, .form--search__results__item, .form .upload-file-input__file-name, .form .upload-file-input, .drawer h2, .account-card__footer, .specs__item, .card__bottom, .cards, .button, .buttons--horizontal {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.cart-quote-page .quote, .notifications-nav,
.sidebar-nav, .bottom-nav__item, .box, .page-title, section, .breadcrumb ul li, .steps, .list, .form--search__results, .search-results, .drawer > div, .account-card, .specs, .card__top, .card, .buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-quote-page .quote__animation--complete__icon, .cart-quote-page .quote__animation, .cart-quote-page, .avatar, .notification-dot, .steps .step__number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 15px;
  background: #EFF0F7;
  color: #6E7191;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.6px;
}
.badge--very-light {
  background: #D1D3FF;
  color: #676ADD;
}
.badge--light {
  background: #C4E9FF;
  color: #41ABE9;
}
.badge--midsize {
  background: #BACBFF;
  color: #2D5FF5;
}
.badge--super-mid {
  background: #D1D3FF;
  color: #676ADD;
}
.badge--heavy {
  background: #C4E9FF;
  color: #41ABE9;
}
.badge--ultra-long {
  background: #BACBFF;
  color: #2D5FF5;
}

.badge-status, .form .select {
  /* Auto layout */
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  gap: 6px;
  background: #A0A3BD;
  border-radius: 8px;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #FCFCFC;
  text-transform: uppercase;
}
.badge-status--primary, .form .select--small-blue {
  background: #424ADF;
}
.badge-status--disabled {
  background: #D9DBE9;
}
.badge-status--confirmed {
  background: #6FCF97;
}
.badge-status--waiting {
  background: #9B9FEA;
}
.badge-status--pending {
  background: #FFBC7E;
}
.badge-status--cancelled {
  background: #EB5772;
}

.buttons--horizontal {
  justify-content: space-between;
}
.buttons--horizontal > * {
  white-space: nowrap;
}

.button {
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  padding: 16px 24px;
  font-weight: 600;
  font-size: 15px;
}
.button:hover {
  cursor: pointer;
}
.button--small {
  padding: 12px 22px;
  border-radius: 16px;
  text-transform: initial;
  font-size: 13px;
  line-height: 22px;
}
.button--primary {
  background: #424ADF;
  color: #FFFFFF;
}
.button--disabled {
  background: #9B9FEA;
  color: #FFFFFF;
}
.button--danger {
  background: #EB5772;
  color: #FFFFFF;
}
.button--empty {
  background: none;
  border: none;
  padding: 7px 13px;
  text-transform: initial;
}
.button--disabled {
  background: none;
  border: 2px solid #EFF0F7;
  color: #EFF0F7;
}
.button--transparent {
  color: #FCFCFC;
  background: rgba(173, 140, 136, 0.9);
  opacity: 0.85;
  backdrop-filter: blur(2px);
}
.button--secondary {
  background: none;
  border: 2px solid #424ADF;
  color: #424ADF;
}
.button--secondary svg path {
  stroke: #424ADF;
}
.button--secondary.button--danger {
  border: 2px solid #EB5772;
  color: #EB5772;
}

.button-circle {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-circle svg path {
  stroke: #E5E5E5;
  transition: stroke 0.3s ease;
}
.button-circle:hover {
  cursor: pointer;
}
.button-circle:hover svg path {
  stroke: #A0A3BD;
}

.cards {
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 15px;
  padding: 20px;
  margin: 0;
}
.cards > * {
  flex: 0 0 auto;
}
.cards--highlight {
  align-items: center;
}
.cards--highlight .card {
  gap: 80px;
  width: 60%;
  box-shadow: 2.13px 2.13px 7.1px rgba(0, 0, 0, 0.5);
}
.cards--highlight .card--highlight {
  gap: 150px;
  width: 75%;
}

.card {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 15px;
  width: 90%;
  background: var(--card-background);
  background-size: cover;
  background-position: center;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(264.7deg, rgba(145, 78, 255, 0.03) 12.43%, rgba(42, 11, 91, 0.2) 99.03%), rgba(100, 28, 255, 0.15);
  background-blend-mode: normal, hard-light;
}
.card__top .badge {
  align-self: end;
}
.card__bottom {
  justify-content: space-between;
  align-items: end;
}
.card__bottom .specs {
  position: relative;
  color: #FCFCFC;
}
.card__bottom .specs svg * {
  stroke: #FCFCFC;
}
.card__bottom .price {
  background: #424ADF;
  opacity: 0.92;
  border-radius: 6px;
  color: #FCFCFC;
  padding: 3px 8px;
}
.card .title {
  position: relative;
  color: #FCFCFC;
  font-weight: 600;
}
.card p {
  position: relative;
  font-size: 12px;
  color: #FCFCFC;
}
.card .button {
  margin-top: auto;
  position: relative;
  color: #FCFCFC;
  text-align: right;
  justify-content: end;
}

.specs {
  gap: 0;
  margin-top: 15px;
}
.specs__item {
  gap: 7.5px;
  align-items: center;
}
.specs__item__value {
  font-size: 11px;
}

.account-card {
  position: relative;
  background: url("../images/jet coins.png");
  background-size: cover;
  padding: 22px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
}
.account-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(68.12deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 64.16%), linear-gradient(264.7deg, rgba(108, 32, 232, 0.0225) 12.43%, rgba(73, 24, 153, 0.15) 99.03%), rgba(100, 28, 255, 0.1);
}
.account-card > * {
  position: relative;
}
.account-card__title {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.account-card__subtitle {
  color: #FCFCFC;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  opacity: 0.8;
  text-shadow: 0 4px 20px #000;
}
.account-card__footer {
  margin-top: 35px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
.account-card__footer .button {
  width: auto;
}
.account-card__coins {
  color: #D6BF6F;
  font-weight: 600;
}
.account-card__coins__number {
  font-size: 36px;
  line-height: 32px;
}
.account-card__coins__label {
  font-size: 13px;
  line-height: 20px;
}

.booking-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.booking-card__arc-plane {
  position: relative;
  width: 70%;
  margin: auto;
}
.booking-card__arc-plane span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 8px;
  font-weight: 600;
  line-height: 22px;
  color: #424ADF;
}
.booking-card__cities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.booking-card__cities > div h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.4em;
  margin: 0;
}
.booking-card__cities > div p {
  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
}
.booking-card__cities > div:first-of-type {
  text-align: left;
}
.booking-card__cities > div:last-of-type {
  text-align: right;
}
.booking-card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.booking-card__info > div:first-of-type {
  text-align: left;
}
.booking-card__info > div:last-of-type {
  text-align: right;
}
.booking-card__info .subtitle {
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #EFF0F7;
}
.booking-card__info .date {
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
}
.booking-card__info .price {
  font-weight: 700;
  color: #424ADF;
}
.booking-card .separator {
  border-bottom: 2px dashed #EFF0F7;
}
.booking-card__status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.booking-card__status img {
  max-width: 40%;
}
.booking-card__status p {
  font-weight: 600;
  font-size: 11px;
  line-height: 22px;
}
.booking-card--waiting .booking-card__arc-plane {
  opacity: 0.5;
}
.booking-card--waiting .price {
  opacity: 0.5;
}
.booking-card--waiting .booking-card__status p {
  color: #FFBC7E;
}
.booking-card--cancelled .booking-card__arc-plane {
  opacity: 0.5;
}
.booking-card--cancelled .price {
  color: #A0A3BD;
}
.booking-card--cancelled .booking-card__status p {
  color: #EB5772;
}

.drawer {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border-radius: 24px 24px 0 0;
  padding: 20px;
  z-index: 200;
  transition: bottom 0.3s ease-in-out;
}
.drawer h2 {
  color: #424ADF;
  margin-bottom: 14px;
}
.drawer h3 {
  color: #4E4B66;
  margin-bottom: 14px;
}
.drawer--active {
  bottom: 0;
}
.drawer:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  background: #EFF0F7;
  border-radius: 1px;
}
.drawer__tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: self-start;
  margin: 10px 0;
}
.drawer__tabs__item {
  color: #A0A3BD;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}
.drawer__tabs__item:hover, .drawer__tabs__item--active {
  color: #424ADF;
  border-bottom: 3px solid #424ADF;
}
.drawer input {
  text-align: center;
}

.flight-card {
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
}
.flight-card__pictures {
  position: relative;
  width: 100%;
  height: 140px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}
.flight-card__pictures > .badge {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}
.flight-card__pictures > .ribbon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  line-height: 24px;
  text-align: center;
  z-index: 1;
  transform-origin: bottom center;
  transform: rotate(35deg) translate(-30px, 10px);
  background: #6FCF97;
  font-size: 8px;
  color: #FFFFFF;
}
.flight-card__pictures > .slider {
  position: relative;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}
.flight-card__content {
  position: relative;
  padding: 12px 14px;
}
.flight-card__content h3 {
  color: #4E4B66;
}
.flight-card__content > .badges, .flight-card__content > .page-title__badges {
  position: absolute;
  top: 0;
  right: 16px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.flight-card__content > .badges .badge, .flight-card__content > .page-title__badges .badge {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.flight-card__content__details {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.flight-card__content__details p {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: #A0A3BD;
  font-size: 13px;
  font-weight: 600;
}
.flight-card__content__details p.ecology img {
  opacity: 0.5;
}
.flight-card__content__details p.ecology img.active {
  opacity: 1;
}
.flight-card__content__details img {
  width: 15px;
  height: 15px;
}
.flight-card__content__details .price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.2px;
  color: #424ADF;
  margin-left: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
  gap: 15px;
}
.form > * {
  width: 100%;
}
.form label {
  color: #6E7191;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.25px;
}
.form label svg path {
  stroke: #6E7191;
}
.form input[type=text],
.form input[type=time],
.form input[type=number] {
  font-weight: 600;
  padding: 10px;
  background: #F7F7FC;
  border: none;
  outline: none;
  color: #262338;
  width: 100%;
  border-radius: 10px;
}
.form input[type=text]::placeholder,
.form input[type=time]::placeholder,
.form input[type=number]::placeholder {
  font-weight: 500;
  color: #A0A3BD;
}
.form input[type=text]::-webkit-calendar-picker-indicator,
.form input[type=time]::-webkit-calendar-picker-indicator,
.form input[type=number]::-webkit-calendar-picker-indicator {
  display: none;
}
.form input[type=radio] {
  appearance: none;
  margin: 0;
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  font: inherit;
  color: #A0A3BD;
  border: 2px solid #A0A3BD;
  border-radius: 50%;
  flex: 0 0 20px;
}
.form input[type=radio]::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: 3px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background: #FFFFFF;
}
.form input[type=radio]:checked {
  background: #424ADF;
  border-color: #424ADF;
}
.form input[type=radio]:checked::before {
  transform: scale(1);
}
.form input[type=checkbox] {
  position: relative;
  appearance: none;
  background: #EFF0F7;
  border-radius: 15px;
  font: inherit;
  width: 50px;
  flex: 0 0 50px;
  height: 30px;
  padding: 3px;
  transition: background 0.3s ease;
}
.form input[type=checkbox]:hover {
  cursor: pointer;
}
.form input[type=checkbox]::after {
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  content: "";
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  transition: left 0.3s ease;
}
.form input[type=checkbox]:checked {
  background: #424ADF;
}
.form input[type=checkbox]:checked::after {
  left: 23px;
}
.form select {
  appearance: none;
  width: 100%;
  border: 2px solid #A0A3BD;
  border-radius: 16px;
  padding: 16px 24px;
  color: #A0A3BD;
  position: relative;
  background: #FCFCFC;
  background-image: url("../icons/bracket-down.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: right 16px center;
}
.form .select {
  border: none;
  padding-right: 30px;
  background-image: url("../icons/bracket-down-white.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: right 10px center;
}
.form .select--small-grey {
  background: #EFF0F7;
  color: #A0A3BD;
  padding-right: 10px;
}
.form .upload-file-input {
  gap: 15px;
  width: 100%;
  align-items: center;
}
.form .upload-file-input__progression {
  flex: 1;
}
.form .upload-file-input__file-name {
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.form .upload-file-input__file-name p {
  color: #4E4B66;
}
.form .upload-file-input__file-name .button {
  width: auto;
}
.form .upload-file-input__progress-bar {
  background: #D9DBE9;
  height: 7px;
  width: 100%;
  border-radius: 4px;
}
.form .upload-file-input__progress-bar .progress-bar {
  background: #424ADF;
  height: 7px;
  border-radius: 4px;
  opacity: 0.5;
}
.form .upload-file-input--completed .progress-bar {
  opacity: 1;
}
.form__group {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  align-items: center;
  gap: 15px;
}
.form__group > * + * {
  flex: 1;
}
.form__group__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #424ADF;
  border-radius: 50%;
  background: rgba(66, 74, 223, 0.1);
}
.form__group__icon img {
  width: 90%;
  height: 90%;
}
.form__group--vertical {
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}
.form__group--vertical > *:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form__group--vertical > *:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form__group--horizontal {
  gap: 4px;
}
.form__group--horizontal > *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form__group--horizontal > *:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form__group--2-1 > *:first-child {
  flex: 2;
}
.form__group--2-1 > *:last-child {
  flex: 1;
}
.form__input--inline {
  padding-left: 20px;
  padding-right: 20px;
  background: #F7F7FC;
  border-radius: 10px;
  height: 50px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form__input {
  padding-left: 20px;
  padding-right: 20px;
  background: #F7F7FC;
  border-radius: 10px;
  height: 50px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form__input-label {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.form__input-label input {
  padding-left: 20px;
  padding-right: 20px;
  background: #F7F7FC;
  border-radius: 10px;
  height: 50px;
}
.form--search__results {
  width: 100%;
  min-height: 200px;
  gap: 15px;
  padding: 10px 0;
}
.form--search__results__item {
  justify-content: space-between;
  align-items: center;
}
.form--search__results__item label {
  color: #4E4B66;
}

.datepicker .ui-datepicker {
  margin: auto;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: #262338;
}
.datepicker .ui-datepicker-inline {
  width: 350px;
  border: none;
}
.datepicker .ui-datepicker-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.datepicker .ui-datepicker-header :nth-child(1) {
  order: 1;
}
.datepicker .ui-datepicker-header :nth-child(2) {
  order: 3;
}
.datepicker .ui-datepicker-header :nth-child(3) {
  order: 2;
}
.datepicker .ui-datepicker-title {
  font-size: 18px;
  line-height: 32px;
}
.datepicker .ui-datepicker-prev {
  width: 56px;
  height: 56px;
}
.datepicker .ui-datepicker-prev::before {
  content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.9634 21L24.0002 27.9632L30.9634 34.9263' stroke='%23262338' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.datepicker .ui-datepicker-prev:hover {
  cursor: pointer;
}
.datepicker .ui-datepicker-prev:hover::before {
  content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.9634 21L24.0002 27.9632L30.9634 34.9263' stroke='%23424ADF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.datepicker .ui-datepicker-next {
  width: 56px;
  height: 56px;
}
.datepicker .ui-datepicker-next::before {
  content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 21L32.9632 27.9632L26 34.9263' stroke='%23262338' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.datepicker .ui-datepicker-next:hover {
  cursor: pointer;
}
.datepicker .ui-datepicker-next:hover::before {
  content: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 21L32.9632 27.9632L26 34.9263' stroke='%23424ADF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.datepicker .ui-datepicker-calendar thead tr th {
  text-align: center;
  font-size: 13px;
  line-height: 22px;
  color: #A0A3BD;
}
.datepicker .ui-datepicker-calendar tbody tr td {
  width: 50px;
  height: 50px;
  vertical-align: center;
  text-align: center;
  display: table-cell;
}
.datepicker .ui-datepicker-calendar tbody tr td a.ui-state-default {
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #262338;
}
.datepicker .ui-datepicker-calendar tbody tr td:not(.ui-datepicker-unselectable):hover {
  background: #424ADF;
  border-radius: 12px;
}
.datepicker .ui-datepicker-calendar tbody tr td:not(.ui-datepicker-unselectable):hover a {
  color: #FFFFFF;
}

.icon--check {
  -webkit-mask: url("../icons/check.svg") no-repeat center;
  mask: url("../icons/check.svg") no-repeat center;
}
.icon--arc-plane {
  -webkit-mask: url("../icons/arc-plane.svg") no-repeat center;
  mask: url("../icons/arc-plane.svg") no-repeat center;
}
.icon--arrow-left {
  -webkit-mask: url("../icons/arrow-left.svg") no-repeat center;
  mask: url("../icons/arrow-left.svg") no-repeat center;
}
.icon--small {
  width: 0.8rem;
  height: 0.8rem;
}
.icon--medium {
  width: 1rem;
  height: 1rem;
}
.icon--large {
  width: 1.5rem;
  height: 1.5rem;
}
.icon--x-large {
  width: 3rem;
  height: 3rem;
}
.icon--greyscale-body {
  filter: invert(30%) sepia(7%) saturate(1973%) hue-rotate(207deg) brightness(88%) contrast(85%);
}
.icon--greyscale-grey-light {
  filter: invert(100%) sepia(0%) saturate(1013%) hue-rotate(173deg) brightness(112%) contrast(80%);
}
.icon--greyscale-off-white {
  filter: invert(100%) sepia(0%) saturate(145%) hue-rotate(130deg) brightness(116%) contrast(98%);
}
.icon--greyscale-placeholder {
  filter: invert(75%) sepia(5%) saturate(1175%) hue-rotate(196deg) brightness(90%) contrast(79%);
}
.icon--primary {
  filter: invert(22%) sepia(63%) saturate(3665%) hue-rotate(234deg) brightness(92%) contrast(90%);
}
.icon--disabled {
  filter: invert(74%) sepia(11%) saturate(4721%) hue-rotate(195deg) brightness(97%) contrast(89%);
}
.icon--green {
  filter: invert(73%) sepia(19%) saturate(769%) hue-rotate(92deg) brightness(96%) contrast(95%);
}
.icon--yellow {
  filter: invert(99%) sepia(74%) saturate(1245%) hue-rotate(325deg) brightness(91%) contrast(83%);
}
.icon--orange {
  filter: invert(70%) sepia(58%) saturate(366%) hue-rotate(337deg) brightness(103%) contrast(101%);
}
.icon--red {
  filter: invert(58%) sepia(45%) saturate(4933%) hue-rotate(315deg) brightness(94%) contrast(95%);
}

.list {
  gap: 15px;
}
.list a:hover {
  color: #424ADF;
}
.list a:hover svg * {
  stroke: #424ADF;
}
.list__item {
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}
.list__item--badge {
  justify-content: space-between;
}
.list__item__left, .list__item__right {
  gap: 15px;
  align-items: center;
}
.list__item--disabled {
  color: #A0A3BD;
}
.list__item--disabled .avatar {
  background: #D9DBE9;
}

.steps {
  gap: 30px;
  align-items: stretch;
}
.steps .step {
  gap: 15px;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}
.steps .step__number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #D9DBE9;
  color: #FCFCFC;
}
.steps .step__name {
  color: #A0A3BD;
}
.steps .step .badge-status, .steps .step .form .select, .form .steps .step .select {
  margin-left: auto;
}
.steps .step:not(:first-of-type) .step__number {
  position: relative;
}
.steps .step:not(:first-of-type) .step__number::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 30px;
  background: #D9DBE9;
}
.steps .step--completed .step__number, .steps .step--current .step__number {
  background: #424ADF;
  color: #FCFCFC;
}
.steps .step--completed .step__name, .steps .step--current .step__name {
  color: #4E4B66;
}
.steps .step--completed:not(:first-of-type) .step__number::before, .steps .step--current:not(:first-of-type) .step__number::before {
  background: #424ADF;
}

.breadcrumb ul {
  justify-content: space-between;
}
.breadcrumb ul li {
  flex: 1;
  list-style: none;
  color: #FCFCFC;
  align-items: center;
  text-align: center;
  font-size: 12px;
  position: relative;
  padding-top: 20px;
  opacity: 0.5;
}
.breadcrumb ul li::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #424ADF;
  border: 4px solid #FCFCFC;
  z-index: 1;
  margin-top: 2px;
}
.breadcrumb ul li:not(:first-of-type)::after {
  content: "";
  position: absolute;
  left: -7px;
  top: 7.5px;
  transform: translate(-50%);
  height: 4px;
  width: 102%;
  z-index: 0;
  background: #FCFCFC;
}
.breadcrumb ul li.completed {
  opacity: 1;
}
.breadcrumb ul li.completed::before {
  background: #FCFCFC;
}
.breadcrumb ul li.current {
  opacity: 1;
}
.breadcrumb ul li.current::before {
  border: 6px solid #FCFCFC;
  margin-top: 0;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__navigation {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.slider__navigation > div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.5;
}
.slider__navigation > div.active {
  opacity: 1;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.table__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.table__row img {
  max-width: 30%;
}
.table__row > * {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}
.table__row > *:first-child {
  text-align: left;
  color: #6E7191;
}
.table__row > *:last-child {
  text-align: right;
}
.table__row--big > * {
  font-size: 14px;
  line-height: 24px;
}

.link {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.booking-card__info .price, .flight-card__content h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  letter-spacing: 0.75px;
}

.drawer h2, .drawer h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */
  letter-spacing: 0.75px;
}

.form select {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 165% */
  letter-spacing: 0.75px;
}

.form--search__results__item label {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 165% */
  letter-spacing: 0.75px;
}

.text--small {
  font-size: 13px;
}
.text--center {
  text-align: center;
}
.text--primary {
  color: #424ADF;
}
.text--placeholder {
  color: #A0A3BD;
}
.text--danger {
  color: #EB5772;
}
.text--price {
  font-weight: 700;
  color: #424ADF;
}
.text--gold {
  font-weight: 700;
  color: #D6BF6F;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FCFCFC;
  font-size: 1rem;
  letter-spacing: 0.25px;
  color: #4E4B66;
}
body.body-background {
  background: url("../images/jet_sky.png");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  z-index: 0;
}
body.body-background::before, body.body-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 250px;
}
body.body-background::before {
  background: rgba(44, 36, 140, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
body.body-background::after {
  background: linear-gradient(180deg, rgba(43, 34, 136, 0.3) 0%, rgba(43, 34, 136, 0.15) 100%), linear-gradient(180deg, rgba(197, 6, 138, 0.02) 39.22%, rgba(30, 9, 159, 0.1) 100%), linear-gradient(0deg, rgba(108, 32, 232, 0.15), rgba(108, 32, 232, 0.15)), rgba(35, 39, 132, 0.2);
}
body.body-background--small {
  background-size: 100% 160px;
}
body.body-background--small::before, body.body-background--small::after {
  height: 160px;
}

section {
  position: relative;
  gap: 15px;
  padding-bottom: 100px;
  z-index: 1;
}
section > * {
  margin: 0 20px;
}
section > .title {
  color: #4E4B66;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.75px;
}
h3 {
  font-weight: 600;
}

.separator {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #EFF0F7;
}

.header {
  margin-top: 20px;
  z-index: 1;
}
.header__right {
  margin-left: auto;
  align-items: center;
}
.header__right__item {
  position: relative;
  align-items: center;
}

.page-title {
  position: relative;
}
.page-title h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
}
.page-title h1 > .icon {
  margin-right: 15px;
}
.page-title h2 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
}
.page-title p {
  color: #FFFFFF;
  font-size: 13px;
}
.page-title__flight {
  justify-content: space-between;
}
.page-title__flight > img {
  width: 50px;
  transform: rotate(25deg);
}
.page-title__search-metas {
  justify-content: space-between;
  align-items: center;
}
.page-title__search-metas__filters-form > button {
  border: 2px solid #9B9FEA;
  border-radius: 8px;
  background: none;
  padding: 2px 11px;
  color: #9B9FEA;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
}
.page-title__search-metas__filters-form > button .icon {
  transform: rotate(180deg);
}

.title--horizontal {
  justify-content: space-between;
}

.box {
  position: relative;
  align-items: stretch;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.box__close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #D9DBE9;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box__close-button:hover {
  cursor: pointer;
}
.box__close-button img {
  width: 60%;
}

.bottom-nav {
  justify-content: space-around;
  background: #FCFCFC;
  filter: drop-shadow(0px -4px 10px rgba(0, 0, 0, 0.05));
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 16px 32px;
}
.bottom-nav__item {
  gap: 4px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex: 1;
}
.bottom-nav__item__icon {
  width: 22px;
  height: 22px;
  position: relative;
}
.bottom-nav__item__label {
  font-size: 13px;
  color: #A0A3BD;
  font-weight: 500;
}
.bottom-nav__item--active .bottom-nav__item__label {
  color: #424ADF;
  font-weight: 600;
}

.notification-dot {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #EB5772;
  z-index: 1;
  color: #FCFCFC;
  font-weight: 500;
  font-size: 9px;
}

.notifications-nav,
.sidebar-nav {
  gap: 30px;
  background: #FCFCFC;
  padding: 30px 20px;
  position: fixed;
  right: -80%;
  top: 0;
  bottom: 0;
  width: 80%;
  z-index: 200;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
}
.notifications-nav--active,
.sidebar-nav--active {
  right: 0;
}
.notifications-nav__close-button,
.sidebar-nav__close-button {
  align-self: end;
}
.notifications-nav__close-button:hover,
.sidebar-nav__close-button:hover {
  cursor: pointer;
}
.notifications-nav a,
.sidebar-nav a {
  text-decoration: none;
  color: #4E4B66;
  font-size: 15px;
}
.notifications-nav h5,
.sidebar-nav h5 {
  font-size: 13px;
  color: #A0A3BD;
  font-weight: 500;
  text-transform: uppercase;
}
.notifications-nav__socials,
.sidebar-nav__socials {
  gap: 30px;
}
.notifications-nav__socials a:hover svg *,
.sidebar-nav__socials a:hover svg * {
  fill: #424ADF;
}

nav {
  position: relative;
  padding: 0 15px;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  opacity: 0.5;
}
nav ul li a.selected, nav ul li a:hover {
  opacity: 1;
}

.full-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  display: none;
}
.full-background--active {
  opacity: 1;
  display: block;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #424ADF;
  color: #FCFCFC;
  font-size: 13px;
  font-weight: 600;
}

article.content {
  margin-top: 120px;
}

.cart-quote-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background: url("../images/jet_sky.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.cart-quote-page::before, .cart-quote-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.cart-quote-page::before {
  background: rgba(44, 36, 140, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.cart-quote-page::after {
  background: linear-gradient(180deg, rgba(43, 34, 136, 0.3) 0%, rgba(43, 34, 136, 0.15) 100%), linear-gradient(180deg, rgba(197, 6, 138, 0.02) 39.22%, rgba(30, 9, 159, 0.1) 100%), linear-gradient(0deg, rgba(108, 32, 232, 0.15), rgba(108, 32, 232, 0.15)), rgba(35, 39, 132, 0.2);
}
.cart-quote-page .quote {
  position: relative;
  align-items: center;
  z-index: 1;
}
.cart-quote-page .quote__animation {
  border-width: 7px;
  border-style: dotted;
  border-color: rgba(255, 255, 255, 0.3);
  width: 230px;
  height: 230px;
  border-radius: 50%;
}
.cart-quote-page .quote__animation img {
  width: 50%;
  opacity: 0.5;
}
.cart-quote-page .quote__animation--1-4-complete {
  border-right-color: #FFFFFF;
}
.cart-quote-page .quote__animation--half-complete {
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.cart-quote-page .quote__animation--3-4-complete {
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  border-left-color: #FFFFFF;
}
.cart-quote-page .quote__animation--complete {
  position: relative;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 5px;
}
.cart-quote-page .quote__animation--complete img {
  opacity: 1;
}
.cart-quote-page .quote__animation--complete__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background: #FFFFFF;
  transform: translate(10px, -10px);
}
.cart-quote-page .quote__animation--complete__icon img {
  width: 50%;
}
.cart-quote-page .quote__message {
  color: #FCFCFC;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4em;
  letter-spacing: 2px;
  text-align: center;
}
.cart-quote-page .quote__message-small {
  color: #FCFCFC;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4em;
  letter-spacing: 0.5px;
  text-align: center;
  opacity: 0.7;
}
.cart-quote-page .quote button {
  border-color: #FCFCFC;
  color: #FCFCFC;
}

/*# sourceMappingURL=cart-quote.css.map */
