@import url("https://use.typekit.net/chl7jio.css");
body, .form__input input[type=text], .button {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.specs__item, .card__bottom, .cards {
  display: flex;
  flex-direction: row;
}

.specs, .card__top, .card {
  display: flex;
  flex-direction: column;
}

.badge {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 4px;
  height: 30px;
  background: #BACBFF;
  border-radius: 22px;
  color: #2D5FF5;
  font-size: 12px;
  font-weight: 600;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 16px 24px;
  text-transform: uppercase;
  font-weight: 600;
}
.button:hover {
  cursor: pointer;
}
.button--small {
  padding: 12px 22px;
  border-radius: 16px;
  text-transform: initial;
}
.button--primary {
  background: #424ADF;
  color: #FFFFFF;
}
.button--secondary {
  background: none;
  border: 2px solid #D9DBE9;
  color: #D9DBE9;
}
.button--secondary svg path {
  stroke: #D9DBE9;
}
.button--empty {
  background: none;
  border: none;
  padding: 7px 13px;
  text-transform: initial;
}

.button-circle {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-circle svg path {
  stroke: #E5E5E5;
  transition: stroke 0.3s ease;
}
.button-circle:hover {
  cursor: pointer;
}
.button-circle:hover svg path {
  stroke: #A0A3BD;
}

.cards {
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 20px;
}
.cards > * {
  flex: 0 0 auto;
}
.cards--highlight {
  align-items: center;
}
.cards--highlight .card {
  gap: 80px;
  width: 60%;
  box-shadow: 2.13px 2.13px 7.1px rgba(0, 0, 0, 0.5);
}
.cards--highlight .card--highlight {
  gap: 150px;
  width: 75%;
}

.card {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 15px;
  width: 90%;
  background: var(--card-background);
  background-size: cover;
  background-position: center;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(264.7deg, rgba(145, 78, 255, 0.03) 12.43%, rgba(42, 11, 91, 0.2) 99.03%), rgba(100, 28, 255, 0.15);
  background-blend-mode: normal, hard-light;
}
.card__top {
  gap: 10px;
}
.card__top .badge {
  align-self: end;
}
.card__bottom {
  justify-content: space-between;
  align-items: end;
}
.card__bottom .specs {
  position: relative;
  color: #FCFCFC;
}
.card__bottom .specs svg * {
  stroke: #FCFCFC;
}
.card__bottom .price {
  background: #424ADF;
  opacity: 0.92;
  border-radius: 6px;
  color: #FCFCFC;
  padding: 3px 8px;
}
.card .title {
  position: relative;
  color: #FCFCFC;
  font-weight: 600;
}
.card p {
  position: relative;
  font-size: 12px;
  color: #FCFCFC;
}
.card .button {
  margin-top: auto;
  position: relative;
  color: #FCFCFC;
  text-align: right;
  justify-content: end;
}
.card .button svg * {
  stroke: #FCFCFC;
}

.specs {
  margin-top: 10px;
}
.specs__item {
  gap: 10px;
  align-items: center;
}
.specs__item__icon svg {
  width: 15px;
  height: 15px;
}
.specs__item__value {
  font-size: 11px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
  gap: 10px;
}
.form__group {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  gap: 10px;
  width: 100%;
}
.form__group--vertical {
  flex-direction: column;
  gap: 4px;
}
.form__group--vertical > *:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form__group--vertical > *:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form__group--horizontal {
  gap: 4px;
}
.form__group--horizontal > *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form__group--horizontal > *:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form__group--2-1 > *:first-child {
  flex: 2;
}
.form__group--2-1 > *:last-child {
  flex: 1;
}
.form__input {
  padding-left: 20px;
  padding-right: 20px;
  background: #F7F7FC;
  border-radius: 10px;
  height: 50px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form__input label {
  color: #6E7191;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.25px;
  width: 40px;
}
.form__input label svg path {
  stroke: #6E7191;
}
.form__input input[type=text] {
  font-weight: 600;
  padding: 10px;
  background: #F7F7FC;
  border: none;
  outline: none;
  color: #262338;
}
.form__input input[type=text]::placeholder {
  font-weight: 500;
  color: #A0A3BD;
}

.icon {
  width: 26px;
  height: 26px;
  border: 1px solid #F00;
}
.icon--calendar::before {
  display: block;
  content: url('data:image/svg+xml;charset=UTF-8,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.5833 4.33334H4.41667C3.22005 4.33334 2.25 5.30339 2.25 6.5V21.6667C2.25 22.8633 3.22005 23.8333 4.41667 23.8333H19.5833C20.78 23.8333 21.75 22.8633 21.75 21.6667V6.5C21.75 5.30339 20.78 4.33334 19.5833 4.33334Z" stroke="#6E7191" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M16.3333 2.16666V6.5" stroke="#6E7191" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.66669 2.16666V6.5" stroke="#6E7191" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M2.25 10.8333H21.75" stroke="#6E7191" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.link {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.75px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F5F5F5;
  font-size: 1rem;
}

header {
  position: relative;
  display: block;
  height: 200px;
  width: 100%;
  background: url("../images/jet_sky.png");
  background-size: cover;
  padding: 20px;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(44, 36, 140, 0.1);
  backdrop-filter: blur(5px);
}
header .title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}
header .title__icon svg path {
  stroke: #FFFFFF;
}
header .title h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
}

.title {
  color: #4E4B66;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.75px;
}
.title--centered {
  width: 100%;
  text-align: center;
}

.search-box {
  position: relative;
  margin: -60px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search-box nav {
  position: relative;
}
.search-box nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.search-box nav ul li {
  list-style: none;
}
.search-box nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  opacity: 0.5;
}
.search-box nav ul li a.selected, .search-box nav ul li a:hover {
  opacity: 1;
}
.search-box form .button-circle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.search-box .button {
  margin-top: 10px;
}

.box--white {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
}

/*# sourceMappingURL=general.css.map */
